body {
  background-color: #f8f9fa;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
}

.input-group {
  justify-content: center;
}

.category-buttons {
  text-align: center;
}

.category-buttons button {
  margin: 5px;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.category-button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #543310; /* Color de fondo café */
  color: #F8F4E1; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  display: flex; /* Alineación de contenido */
  align-items: center; /* Alineación de contenido */
}
.category-button img {
  width: 24px;
  margin-right: 10px;
}

/* index.css */



/* Dentro de src/index.css */

.search-input {
  background-color: #543310; /* Color de fondo de la barra de búsqueda */
  color: #F8F4E1; /* Color del texto de la barra de búsqueda */
  
}

.search-input::placeholder {
  color: #F8F4E1; /* Color del texto de marcador de posición en la barra de búsqueda */
}

.btn-primary {
  background-color: #543310; /* Color de fondo del botón "Buscar" */
  border-color: #543310; /* Color del borde del botón "Buscar" */
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #43270a; /* Color de fondo del botón "Buscar" al pasar el ratón por encima */
  border-color: #43270a; /* Color del borde del botón "Buscar" al pasar el ratón por encima */
  
}

.btn-secondary {
  background-color: #543310; /* Color de fondo del botón "Limpiar" */
  border-color: #543310; /* Color del borde del botón "Limpiar" */
  border-radius: 20px;
}

.btn-secondary:hover {
  background-color: #43270a; /* Color de fondo del botón "Limpiar" al pasar el ratón por encima */
  border-color: #43270a; /* Color del borde del botón "Limpiar" al pasar el ratón por encima */
}

.with-margin {
  margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
}
